body {
  margin: auto;
  width: 400px;
  font-family: "Open Sans", sans-serif;
  color: #393d41;
  font-size: 1.2rem;
  line-height: 1.65;
  text-align: center;
}

main {
  width: 100%;
  height: 3000px;
  margin: auto;
  background-color: #e22d0e; /* todo togliere */
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: #25a2c3;
  font-family: "Montserrat", sans-serif;
  line-height: 1.65;
}

h1 {
  font-size: 2rem;
  line-height: 1;
}

footer {
  color: #c8e7f0;
  background-color: #25a2c3;
}

footer h2 {
  color: white;
}

footer a {
  color: #c8e7f0;
}

header {
  background-color: black;
}

.testimonianze {
  background-color: #e22d0e;
}

.bordi {
  border: 1px solid #dee1e3;
}

.boxlogo {
  height: 100px;
}

.logo {
  height: 40%;
  margin-top: 30px;
}

.start {
  background-image: url(./images/banner.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 40px;
  padding-bottom: 50px;
  padding-inline: 30px;
}

.partiamo {
  background-color: #f04c2f;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  padding-block: 20px;
  padding-inline: 40px;
}

.partbox {
  margin-top: 60px;
}

.start p {
  margin-top: 20px;
}

.headtext {
  margin-top: 30px;
}
